{% assign free_shipping_threshold = settings.free_shipping_threshold | times: 100 %}

<div
  class="shipping-threshold-message">
  {% if cart.total_price >= free_shipping_threshold %}
    <p>{{ settings.free_shipping_fulfillment_message }}</p>
  {% else %}
    {% if settings.free_shipping_cta != blank %}
      <h3>{{ settings.free_shipping_cta }}</h3>
    {% endif %}
    <p>{{ settings.free_shipping_warning_before }} <span class="font-body-bold">{{ free_shipping_threshold | minus: cart.total_price | money }}</span> {{ settings.free_shipping_warning_after }}</p>
  {% endif %}
</div>

{% if settings.show_progress_bar == true %}
  <div class="progress-bar-wrapper">
    <progress class="animated" max="{{ free_shipping_threshold | times: 1 }}" value="{{ cart.total_price }}"></progress>
  </div>
{% endif %}

<style>
  .shipping-threshold-message {
    margin-bottom: 0rem;
    margin-left: 0rem;
  }
  .shipping-threshold-message > * {
    margin: 0;
    padding: 0;
  }
  .shipping-threshold-message p{
    color: rgba(var(--color-foreground), 1);
  }
  progress {
    width: 100%;
    height: .9rem;
    margin: 0.3rem 0rem;
    border-radius: 0;
  }
  .progress-bar-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
  }
  progress[value]{
    -webkit-appearance: none;
    appearance: none;
  }
  progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 12px;
    box-shadow: 0 20px 6px {{ settings.background_color_progress_bar }} inset;
  }
  progress[value]::-webkit-progress-value {
    background-color: {{ settings.progress_bar_color_one }};
    background-size: 20px 15px, 100% 100%, 100% 100%;
    border-radius: 12px;
  }
</style>